@tailwind base;
@tailwind components;
@tailwind utilities;

.get_started{
  padding: 19px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #A259FF;
  border-radius: 15px;
  gap: 10px;
}
aside{
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.rankings{
  display: flex;
  justify-content: center;
  padding: 25px 50px 19px 50px;
  border: 2px solid #A259FF;
  border-radius: 20px;
  gap: 15px;
}

.number{
  margin: 15px 0px 0px 15px;
  padding: 2px 9px;
  border-radius: 50%;
  background-color: #2B2B2B;
}
.see{
  padding: 0px 50px;
  border: 2px solid #A259FF;
  border-radius: 20px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
